.home-page {
  display: flex;
  flex-direction: row;
  padding: 0 15%;
}

.description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial;
  height: 100vh;
  align-items: center;
}

.internal-container {
  max-width: 80%;
  text-align: center;
}

.home-page h1,
h4,
p {
  margin: 0;
  color: var(--secondary);
}

.home-page h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--primary);
}

.home-page p {
  text-align: justify;
}

.home-page .description-container .internal-container button {
  margin-top: 20px;
}

.image-container {
  flex-grow: 1;
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 80%;
}

@media screen and (max-width: 800px) {
  .home-page {
    padding: 0 10%;
    flex-direction: column-reverse;
  }
  
  .description-container{
    height: 65vh;
   justify-content: flex-start;
  }

  .image-container {
    height: 25vh
  }

  .image-container img{
    height: 50%;
  }
}
