.nav-icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-icon hr {
  height: 1px;
  border: none;
  margin: 0;
  background-color: var(--terciary);
}

.nav-icon img {
  margin: 2vh 0;
  height: 25px;
}

.nav-container {
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--backgroundDark);
  border-right: solid;
  border-color: var(--terciary);
  border-width: 1px;
}

.nav-container li {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.nav-container ul {
  padding: 0;
}

.nav-container .nav-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary);
}

.nav-container .nav-footer a {
  margin: 2vh 0;
}

.nav-menu a {
  width: 100%;
  padding: 0 10%;
  text-decoration: none;
  font-weight: bold;
  text-transform: none;
}

.nav-container .select-language {
  display: flex;
  align-items: center;
  margin: 10px;
  max-width: 10%;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-container .select-language svg {
  margin: 0 5px;
}

@media screen and (max-width: 800px) {
  .nav-container {
    flex-direction: column;
    width: 100%;
    height: 10vh;
    border-right: none;
  }

  .nav-container .nav-footer {
    top: 0;
    right: 0;
    position: absolute;
    max-width: 10%;
    flex-direction: column;
  }

  .nav-container .nav-footer a {
    margin: 10px;
  }

  .nav-container .nav-icon {
    display: none;
  }

  .nav-container .nav-menu {
    width: 100%;
  }

  .nav-container .nav-menu a {
    width: 33.33%;
  }

  hr {
    display: none;
  }

  .nav-container .select-language {
    right: auto;
    left: 0;
    flex-direction: column-reverse;
    margin: 5px;
  }

  .nav-container .select-language svg {
    margin: 5px 0;
  }
}
