.root-container {
  display: flex;
  flex-direction: row;
  min-width: 360px;
  overflow: auto;
}

.content-container {
  width: 85%;
  height: 100vh;
  overflow: auto;
  background-color: var(--background);
}

@media screen and (max-width: 800px) {
  .root-container {
    flex-direction: column-reverse;
  }
  .content-container {
    width: 100%;
    height: 90vh;
  }
}
